<html>
    <body>
        <H3>[updated test version] count: <%= count %></H3>
        <p>Status page: <%= status %> (<a href="/toggle">toggle</a>)</p>

        <h4>Object storage</h4>
        <% for(let o of objects.entries() || []) { %>
            <%=o %><br/>
        <% } %>
    </body>

</html>